/* Hide elements with the hidden-content class */
.hidden-content {
    display: none;
}

/* Add borders to the tables */
table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse; /* Ensure borders don't double */
}

/* Mimic the backticks in Markdown for code elements */
code {
    font-family: Consolas, "Courier New", monospace;
    background-color: #f8f8f8;
    padding: 2px 4px;
    border-radius: 4px;
    color: #000000;
}

header {
    width: 250px;
    float: left;
    position: fixed;
    -webkit-font-smoothing: subpixel-antialiased
}

footer {
    width: 250px;
    float: left;
    position: fixed;
    bottom: 50px;
    -webkit-font-smoothing: subpixel-antialiased
}

section {
    width: 600px;
    float: right;
    padding-bottom: 50px
}