---
---

@import "{{ site.theme }}";

// Custom styles
.hidden-content {
    display: none;
}

/* Adjust the width of the sidebar */
.header {
    width: 200px; 
}

/* Adjust the width of the content area */
.section {
    width: 650px;
}

/* Adjust the width of the footer area */
.footer {
    width: 200px;
}

/* Add borders to the tables */
table, th, td {
    border: 1px solid #ddd;
}

/* Backlight items like nodes and values */
.plaintext.highlighter-rouge {
    background-color: lightgrey;
}